/* styles.css */

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#jogoDaVelha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
}

.row {
  display: flex;
  gap: .25rem;
  margin-bottom: .25rem;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #00000080;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
}



.saindo {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
